@charset "utf-8";
/* CSS Document */

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn-action {
  background-color: rgba(255, 255, 255, 0.90);
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-action:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.btn-action:active {
  transform: scale(0.95);
}

.return-container {
  text-align: center;
  margin-top: 30px;
}

.btn-return {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, transform 0.2s;
}

.btn-return:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}


main{
	display:flex;
	flex-direction: column;
	background-color: bisque;
	background-size: cover;
	min-height: 100vh;
	width:100%;
	align-items: center;
	justify-content: center;
	padding: 20px 20px 50px;

}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	width: 37%;
	max-width: 800px;
	padding: 30px;
	margin: 0 0 30px;
	border-radius: 5px;

}


.grid{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:15px;
	width:100%;
	max-width:800px;
	background-color:#333;
	margin:0 auto;
	
	}

.card{
	aspect-ratio:1/1;
	width:100%;
	background-color:#333;
	border-radius:5px;
	position: relative;
	transition:all 400ms ease;
	transform-style:preserve-3d;
	}

.face{
	width:100%;
	height:100%;
	border-radius:5px;
	position:absolute;
	border: 2px solid #666;
	}

.front{
	background-size:cover;
	background-position: center;
	}

.back{
	background-image:url("../nivel1/img/back.jpg");
	background-size:cover;
	background-position: center;
	backface-visibility:hidden;
	}

.reveal-card{
	transform:rotateY(180deg);
	}

.disabled-card{
	filter: saturate(0);
	opacity:0,5;


}